
    

 body {
  font-family: Arial, sans-serif;
  background: #2c58a9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:rgb(11, 26, 26)
}

.id-card {
  width: 300px;
  height: 450px;
  background: #9a8c0a;
  border: 2px solid #004d99;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  text-align: center;
  padding: 20px;
}

.header {
  border-bottom: 1px solid #004d99;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(104, 3, 3);
}

.header h1 {
  font-size: 18px;
  margin: 5px 0;
  color: #004d99;
}
.header h2{
  font-size:15px;
  margin:5px 0;
  color:rgb(0, 19, 128);
}

.photo img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #004d99;
  margin: 10px 0;
}

.info {
  text-align: left;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 14px;
}

.footer {
  border-top: 1px solid #004d99;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 12px;
}

.signature {
  width: 100px;
  height: 30px;
  margin: 5px auto;
  border-bottom: 1px solid #000;
}